$main-color: #477baf;
$lighter-main-color: #c0cae3;
$light-main-color: #81a7d8;
$font-color: #000200;
$highlight-font-color: $main-color;
$bg-color: #f5f5f5;
$blue-color: transparentize($main-color, .5);
$green-color: transparentize(#92c48e, .5);
$red-color: transparentize(#d87462, .5);
$yellow-color: transparentize(#f0c77d, .5);