@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
//Fonts
$body-font: 'Montserrat', sans-serif;
$highlight-font: 'Ropa Sans', sans-serif;
$font-smaller-size: 0.7;
$font-small-size: 0.8;
$font-basis-size-small: 12px;
$font-basis-size: 15px;
$font-big-size: 1.2;
$font-high-size: 1.9;
$font-higher-size: 2;
$font-headline-size: 2.5;
$font-huge-size: 6;
// Font weight
$regular: 400;
$bold: 700;